@{
    ViewData["Title"] = "Задание";
}

<div class="text-lg-left">
    <h4>Тестовое задание на вакансию “Стажер” по направлению веб-разработки</h4>
    <h4>Постановка задачи</h4>
    
    <p>
        Необходимо спроектировать и реализовать сервис, который отображает точки и комментарии к ним в виде:
    </p>
    
    <div class="img-fluid">
        <img src="/img/example.jpg"/>
    </div>
    
    <p>Свойства точек:</p>
    <ol>
        <li>Положение по x</li>
        <li>Положение по y</li>
        <li>Радиус</li>
        <li>Цвет</li>
        <li>Список комментариев</li>
    </ol>
    <br/>
    <p>Свойства комментариев:</p>
    <ol>
        <li>Текст комментария</li>
        <li>Цвет подложки комментария</li>
    </ol>
    <br/>
    <h4>Задача-минимум</h4>
    <ol>
        <li>Реализовать серверную часть на технологиях .Net CORE/.Net5</li>
        <li>Реализовать БД для хранения данных о наборе точек</li>
        <li>Реализовать схему на основе методологии code-first при помощи entity-framework</li>
        <li>Вывести данные из БД на экране при помощи инструмента Konva.js for Jquery</li>
    </ol>
    <br/>
    <h4>Задача-оптимум</h4>
    <p>
        Реализовать взаимодействие с сервисом, а именно: по двойному нажатию на точку, она должна удаляться из рабочей области. Также это действие должно быть отражено в БД.
    </p>
    <p>
        Воспринимайте данный проект как начало другого, более объемного и более функционально нагруженного проекта. Реализация должна предполагать расширяемость сервиса дополнительным функционалом.
    </p>
    <br/>
    <h4>Технологии и ограничения</h4>
    <ol>
        <li>Серверная часть на .Net CORE/.Net5</li>
        <li>Использование In-memory database</li>
        <li>Клиентская часть(отрисовка объектов) - библиотека Konva.js for Jquery</li>
        <li>Клиентская часть(таблицы и прочее) - библиотека Kendo for Jquery</li>
        <li>Использование AJAX для получения данных</li>
        <li>Желательно использование ООП на клиенте (ES6 classes или TypeScript)</li>
    </ol>
    <br/>
    <h4>Использование библиотек, которые не противоречат вышеописанным пунктам, не возбраняется.</h4>
    <br/>
    <h4>На что будем обращать внимание</h4>
    <ol>
        <li>Модульность и возможность простого изменения и добавления функционала</li>
        <li>Возможность переиспользования кода</li>
        <li>Простота и чистота кода</li>
    </ol>
    
</div>